.enemy-area {
    width: 300px;
    height: 110px;
    background-color: gray;
    opacity: 0.8;
    overflow: hidden;
    border: 2px solid black;
    margin-top: 10px;
    margin-right: 30px;

    
}