

h2 {
  text-align: center;
  font-family: 'Press Start 2P';
}

h3 {

  text-align: center;
  font-size: 25px;
  font-family: 'Press Start 2P';
}

p {
  font-family: 'Press Start 2P';
  text-align: center;
}


.game-area{
  
  border: 2px solid black;
  width: 1300px;
  height: 700px;
  z-index: 1;
  top: 50px;
  margin-left: 14%;
  overflow: hidden;
  background-image: url('./components/background.jpg');
}

.enemystatus-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  font-family: 'Press Start 2P';
}

.playerstatus-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.dragon {
  align-self: center;
  width: 300px;
}


.avatar {
  width: 400px;
  height: 400px;

}
